@charset "utf-8";


/* header */
.qui-header { width:100%; height:44px; overflow:hidden; background-color:#2bab79;}
.qui-header .qui-icon { display:inline-block; width:44px; height:44px; text-align:center; font-size:24px; line-height:44px; color:#fff;}
.qui-header-menu { float:left; width:35%;}
.qui-header-logo { float:left; width:30%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; text-align:center; font-size:20px; line-height:44px; color:#fff;}
.qui-header-logo img { display:block; margin:0 auto;}
.qui-header-rtool { float:left; width:35%; text-align:right;}
.qui-header-rtool .btn, .qui-header-menu .btn { display:inline-block; padding:0 8px; line-height:44px; text-align:center; color:#fff;}


/* no-icon header */
/* 5月底删除 */
.qui-header p>a{color:#fff;}
.qui-header>.qui-header-lBtn{line-height:44px;float:left;padding-left:10px;font-size:16px;}
.qui-header>.qui-header-rBtn{line-height:44px;float:right;padding-right:10px;font-size:16px;}
.qui-header>.qui-header-title{line-height:44px;text-align:center;font-size:19px;color:#FFF;}


/* footer-basic */
.qui-footerBasic { width:100%; margin:20px 0; text-align:center; font-size:10px; line-height:20px;}
.qui-footerBasic .copyright { color:#9ea3ab;}
.qui-footerBasic .switchStyle { color:#9ea3ab;}
.qui-footerBasic .switchStyle span { margin-left:30px;}
.qui-footerBasic .switchStyle span:first-child { margin-left:0;}
.qui-footerBasic .switchStyle a { color:#444;}



/* footer-normal */
.qui-footerNormal { margin-top:20px; background-color:#2d3741; border-top:2px solid #425160; padding:10px;}
.qui-footerNormal .follows { width:100%; overflow:hidden; border-bottom:1px solid #3d4349; padding-bottom:10px; margin-bottom:10px;}
.qui-footerNormal .followTitle { float:left; font-size:15px; line-height:34px; color:#fff;}
.qui-footerNormal .followList { float:right;}
.qui-footerNormal .followList a { float:left; width:34px; height:34px; overflow:hidden; text-indent:-100px; margin-left:10px; background:url(http://static.qyer.com/m/basic/images/foot-follow.png) no-repeat; background-size:166px 34px;}
.qui-footerNormal .followList a.weibo { background-position:0 0;}
.qui-footerNormal .followList a.weixin { background-position:-44px 0;}
.qui-footerNormal .followList a.facebook { background-position:-88px 0;}
.qui-footerNormal .followList a.renren { background-position:-132px 0;}
.qui-footerNormal .entrys { width:100%; overflow:hidden;}
.qui-footerNormal .switchStyle { float:left; font-size:15px;}
.qui-footerNormal .switchStyle span { margin-right:26px; color:#9ea3ab;}
.qui-footerNormal .switchStyle a { color:#fff;}
.qui-footerNormal .feedback { float:right; font-size:13px;}
.qui-footerNormal .feedback a { color:#2cbc81;}
.qui-footerNormal .copyright{ color:#9ea3ab; font-size:12px;}



/* aside 侧边栏 */
.qui-asides { position:absolute; left:-250px; top:0; width:250px;}
.qui-asideMask { position:absolute; left:0; right:0; top:0; bottom:0; width:100%; background-color:rgba(0,0,0,0.5);}
.qui-aside {
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  position:fixed; top:0; width:250px; bottom:0; overflow-y:scroll; background-color:#2d3741;
}
.qui-aside.translateX {
  -webkit-transform: translateX(250px); /* Safari and Chrome */
  -ms-transform: translateX(250px); /* IE 9 */
  transform: translateX(250px);
}
.qui-asideHead { padding:13px 10px 10px;}
.qui-asideHead .signBtn { text-align:right; line-height:18px; color:#fff;}
.qui-asideHead .signBtn a { color:#fff;}
.qui-asideHead .userInfos { padding-left:65px; height:56px;}
.qui-asideHead .face { float:left; margin-left:-65px; width:54px; height:54px; border:1px solid #fff; border-radius:50%; overflow:hidden;}
.qui-asideHead .face img { display:block; border-radius:50%;}
.qui-asideHead .name { font-size:16px; line-height:24px;}
.qui-asideHead .name a { color:#fff;}
.qui-asideHead .message { position:relative; margin-top:10px; line-height:18px;}
.qui-asideHead .message .qui-icon { font-size:18px; color:#fff;}
.qui-asideHead .message .number { position:absolute; left:12px; top:-6px; font-size:8px; line-height:13px; width:13px; background-color:#cb0900; border-radius:50%; text-align:center; color:#fff;}
.qui-asideHead .searchs { position:relative; margin-top:12px;}
.qui-asideHead .searchs .qui-icon { position:absolute; left:9px; top:5px; font-size:20px; color:#fff;}
.qui-asideHead .searchs input {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  width:100%; height:28px; padding:4px 10px 4px 35px; border:none; border-radius:4px; background-color:#9ea3ab; font-size:14px; line-height:20px; color:#fff;
}

.qui-asideNav {}
.qui-asideNav li { border-top:1px solid #232d34; background-color:#36424b;}
.qui-asideNav li:nth-child(even) { background-color:#364049;}
.qui-asideNav a { display:block; padding-left:15px; font-size:16px; line-height:44px; color:#ced1d5;}
.qui-asideNav .qui-icon { font-size:18px; margin-right:19px; color:#b6becb;}

.qui-asideTool { border-top:9px solid #232d34; background-color:#2d3741;}
.qui-asideTool li { border-top:1px solid #232d34;}
.qui-asideTool a { display:block; padding-left:15px; font-size:16px; line-height:44px; color:#ced1d5;}
.qui-asideTool .qui-icon { font-size:18px; margin-right:19px;}
.qui-asideTool ._reply_line { color:#9fceda;}
.qui-asideTool ._question { color:#9fceda;}
.qui-asideTool ._exit { color:#2bab79;}